{% extends 'root.html' %}

{% block title %}Order{% endblock %}

{% block content %}
    <div class="order-info">
        <h1 class="mt-3">Ваш заказ</h1>
        <ul>
            {% for item in cart %}
                <li style="font-size: 20px;">
                    {{ item.quantity }}x {{ item.product.title }}
                    <span>${{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p class="card-text" style="font-size: 20px;"><b>К оплате:</b> {{ cart.get_total_price }}<i
                                    class="fa-solid fa-ruble-sign ms-1"></i></p>
    </div>
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
            <p><input type="submit" value="Оформить" class="btn btn-success rounded-5"></p>
        {% csrf_token %}
    </form>
{% endblock %}