{% extends 'index.html' %}

{% block title %}О нас{% endblock %}

<div class="">
    {% block content %}
    <div class="mt-5 mb-5">
        <div>
            {% for el in inf %}
            {% if el.id == 2 or el.id == 4%}
            <div class="d-flex justify-content-between flex-row-reverse mt-3 mb-3">
                <img src="{{ el.image.url }}" class="w-25 rounded-3">
                <div class="me-3">
                    <p class="about_text">{{ el.text }}</p>
                </div>
            </div>
            {% else %}
            <div class="d-flex justify-content-between">
                <img src="{{ el.image.url }}" class="w-25 rounded-3">
                <div class="ms-3">
                    <p class="about_text">{{ el.text }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</div>