{% extends 'root.html' %}

{% block title %}Профиль{% endblock %}

<div>
    {% block content %}
    <div class="mt-4">
        <div>
            <h2>Ваши заказы</h2>
            <div>
                {% for el in order %}
                <div class="card mt-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <p class="card-text">{{ el.created }}</p>
                        <a href="{% url 'order:order_delete' el.id %}" class="btn_order_delete">Отменить</a>
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            {% for i in order_item %}
                            {% if i.order.id == el.id %}
                            <div class="d-flex mt-4">
                                <img src="{{ i.product.image.url }}" style="width: 150px;">
                                <div class="ms-3">
                                    <p class="card-text mt-4">
                                        {{ i.product.title }} <br>
                                        {{ i.price }} <i class="fa-solid fa-ruble-sign ms-1"></i> <br>
                                        Количество: {{ i.quantity }} <br>
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer">
                        Статус заказа: <b>{{ el.status }}</b>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        <div>
            <h2 class="mt-4">Ваши адреса</h2>
            <div>
                {% for el in user_address %}
                <div class="card mt-3">
                    <div class="card-body">
                        <p class="card-text">
                            г. {{ el.city_id }}
                            -
                            ул. {{ el.street }}
                            -
                            д. {{ el.house }}
                            -
                            подъезд {{ el.entrance }}
                            -
                            этаж. {{ el.floor }}
                            -
                            кв. {{ el.apartment }}
                        </p>
                    </div>
                </div>
                {% endfor %}
                <button type="button" class="btn btn-success rounded-5 mt-3" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    Добавить адрес
                </button>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить адрес</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Добавить" class="btn btn-success rounded-5">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>