{% extends 'root.html' %}

{% block title %}Product_Detail{% endblock%}

<div>
    {% block content %}
    <div class="py-3 py-md-5 bg-light">
        <div class="container">
            <div class="row">
                <a href="{% url 'product:product_list' %}" style="color: #000; text-decoration: none; font-size: 20px;"><i
                        class="fa-solid fa-arrow-left"></i></a>
                <div class="col-md-5 mt-3">
                    <div class="">
                        <img src="{{ product_detail.image.url }}" class="w-100 rounded-4" style="border: none;"
                             alt="Img">
                    </div>
                </div>
                <div class="col-md-7 mt-3">
                    <div class="product-view">
                        <h4 class="product-name">
                            {{ product_detail.title }}
                            <label class="label-stock">
                                <a class="" data-bs-toggle="collapse" href="#collapseExample"
                                   role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="fa-solid fa-circle-info" style="color: #000;"></i>
                                </a>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        <p class="card-text" style="color: #000; font-size: 18px;">
                                            {{ product_detail.nutritional_value }}</p>
                                    </div>
                                </div>
                            </label>
                        </h4>
                        <hr>
                        <p class="product-path">
                            {% if product_detail.mass == None %}
                                <p style="display: none">{{ product_detail.mass }}</p>
                            {% else %}
                                {{ product_detail.mass }}  гр.
                            {% endif %}

                            {% if product_detail.volume == None %}
                                <p style="display: none">{{ product_detail.volume }}</p>
                            {% else %}
                                {{ product_detail.volume }}  л.
                            {% endif %}

                            {% if product_detail.quantity == None %}
                                <p style="display: none">{{ product_detail.quantity }}</p>
                            {% else %}
                                {{ product_detail.quantity }} шт.
                            {% endif %}

                            {% if product_detail.diameter == None %}
                                <p style="display: none">{{ product_detail.diameter }}</p>
                            {% else %}
                                {{ product_detail.diameter }} см.
                            {% endif %}
                        </p>
                        <div>
                            <span class="selling-price">{{ product_detail.price }}<i
                                    class="fa-solid fa-ruble-sign ms-1"></i></span>
                            <!--                            <span class="original-price">$499</span>-->
                        </div>
                        <div class="mt-2">
                            <!--                            <h5 class="mb-0">Small Description</h5>-->
                            <p>
                                {{ product_detail.description }} <br>
                            </p>
                        </div>
                        <div class="mt-4">
                            <a href="#" class="card_btn_custom">В корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>